[Unit]
Description=Lillypad Slideshow
After=graphical.target

[Service]
User=pi  # Make sure this is the correct non-root user
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/1000  # Ensure correct UID is set
ExecStart=/usr/bin/python3 /home/pi/slideShow.py /mnt/usb
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=graphical.target
